/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/Roguelike/target/
/Roguelike/nbproject/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/dist/
/JavaFXApplication1/build/